<section id="warehouses">
  <h2>Galp천es</h2>
  <div>
    <%= link_to 'Cadastrar Galp찾o', new_warehouse_path %>
  </div>

  <% if @warehouses.empty? %>
    <p>N찾o existem galp천es cadastrados</p>
  <% else %>
    <% @warehouses.each do |w| %>
      <div>
        <h3><%= link_to w.name, warehouse_path(w.id) %></h3>
        <dl>
          <dt><%= Warehouse.human_attribute_name(:city) %>:</dt>
          <dd><%= w.city %></dd>
          <dt><%= Warehouse.human_attribute_name(:code) %>:</dt>
          <dd><%= w.code %></dd>
          <dt><%= Warehouse.human_attribute_name(:area) %>: </dt>
          <dd><%= w.area %> m2</dd>
        </dl>
      </div>
    <% end %>
  <% end %>
</section>