<h1>Informações sobre <%= @supplier.brand_name %></h1>

<dl>
  <dd>
    <strong><%= Supplier.human_attribute_name(:corporate_name) %>:</strong> 
    <%= @supplier.corporate_name %>
  </dd>
  <dd>
    <strong><%= Supplier.human_attribute_name(:brand_name) %>:</strong> 
    <%= @supplier.brand_name %>
  </dd>
  <dd>
    <strong><%= Supplier.human_attribute_name(:registration_number) %>:</strong> 
    <%= @supplier.registration_number %>
  </dd>
  <dd>
    <strong><%= Supplier.human_attribute_name(:full_address) %>:</strong> 
    <%= @supplier.full_address %>. 
    <%= @supplier.city %> - <%= @supplier.state %>
  </dd>
  <dd>
    <strong><%= Supplier.human_attribute_name(:email) %>:</strong> 
    <%= @supplier.email %>
  </dd>
</dl>


<div>
  <%= link_to 'Editar', edit_supplier_path(@supplier.id) %>
  <%= link_to 'Voltar', suppliers_path %>
</div>