<h1><%= Warehouse.model_name.human %> <%= @warehouse.code %></h1>
<h2><%= @warehouse.description %></h2>

<p>
  <strong><%= Warehouse.human_attribute_name(:name) %>:</strong> 
  <%= @warehouse.name %>
</p>
<p>
  <strong><%= Warehouse.human_attribute_name(:city) %>:</strong> 
  <%= @warehouse.city %>
</p>
<p>
  <strong><%= Warehouse.human_attribute_name(:area) %>:</strong> 
  <%= @warehouse.area %> m2
</p>
<p>
  <strong><%= Warehouse.human_attribute_name(:address) %>:</strong> 
  <%= @warehouse.address %> <strong>CEP:</strong> <%= @warehouse.cep %>
</p>

<div>
  <h2>Itens em Estoque</h2>

  <% @stocks.each do |stock, count| %>
    <p> <%= count %> x <%= stock.sku %> </p>
  <% end %>
</div>

<div>
  <%= link_to 'Editar', edit_warehouse_path(@warehouse.id) %> <br>
  <%= button_to 'Remover', warehouse_path(@warehouse.id), method: :delete %>
</div>
<div>
  <%= link_to 'Voltar', root_path %>
</div>
