<h1>Galpão <%= @warehouse.code %></h1>
<h2><%= @warehouse.description %></h2>

<p>
  <strong>Nome:</strong> <%= @warehouse.name %>
</p>
<p>
  <strong>Cidade:</strong> <%= @warehouse.city %>
</p>
<p>
  <strong>Área:</strong> <%= @warehouse.area %> m2
</p>
<p>
  <strong>Endereço:</strong> <%= @warehouse.address %> <strong>CEP:</strong> <%= @warehouse.cep %>
</p>

<%= link_to 'Voltar', root_path %>